@import 'tailwindcss';

:root {
  /* width - height */
  --max-width-lg: calc(100% - 208px);
  --max-width-md: calc(100% - 160px);

  --header-height-lg: 78px;
  --header-height-sm: 60px;
  --header-height-xs: 54px;

  --background: #000;
  --color-primary-green: #55e6a5;
  --color-primary-black: #141c27;

  /* text color */
  --text-primary-color: #a2a2a2;
  --text-secondary-color: #fff;

  /*text font */
  --font-title: 'Poppins', sans-serif;
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
}
